@import url('./variable.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family) ;
}

html{
    scroll-behavior: smooth;
}

/* header section*/
header .container{
    display:flex;
    align-items: center;
   justify-content: space-between;
    height: 70px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid rgb(238, 238, 238);
    background-color: var(--color-white);
}

.Login-icon{
display: none;
}

.logo, .location, .search-bar, .Login, .MyCart{
    margin: 0px 20px;
}

.location-title{
    font-size: 14px;
    font-weight: var(--fw-700);
    margin: 5px 0px;
}

.location-name{
    font-size: 12px;
}

.search-bar{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 13px;
    width: 70%;
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    background: var(--color-grey-2);
    color: var(--color-grey);
    height: 40px;
}

.search-bar input{
    font-size: 12px;
    font-weight: 100;
    width: 100%;
    border: 0;
    outline: 0;
    background-color: transparent;
}

.fa-magnifying-glass{
    color:var(--color-black);
}

.login{
    font-size: 11px;
    color: var(--color-grey);
}

.MyCart{
    display: flex;
    column-gap: 20px;
    background-color: var(--color-green);
    color: var(--color-white) ;
    width :8%;
    padding: 5px;
    justify-content: space-evenly;
    height:35px;
    border-radius: 5px;
}

.MyCart button{
    background-color: var(--color-green);
    border: 0;
    outline: 0;
    color : var(--color-white);
    font-size: 12px;
    font-weight: var(--fw-700);
}

/* body */
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 70px;
}

.inner-container{
     width:1100px;
}

/* section-1 */
.banner-1 img{
    width:100%; 
}

/* section-2 */
.banner-2{
    display: flex;
    overflow: auto ;
    margin: 0px 15px;
    column-gap: 10px;
    cursor: pointer;
}

.banner-2::-webkit-scrollbar{
    display: none;
}

.banner-2 .banner-img img{
    height: 170px;
    width: 285px;
}

/* section-3 */
.items-section3{
display: grid;
grid-template-columns: repeat(10,10%);
padding: 10px 0px;
}

.section3-img img{
    width:100%;
}

/* section-4 */
.title {
    font-size: 20px;
    font-weight: var(--fw-700);
    padding:10px  20px 0px 20px ;
}

.items-list{
    display:flex;
    overflow:auto scroll;
    column-gap: 20px;
    padding:10px  20px 0px 20px ;
}

.item{
    display:flex;
    min-width:175px;
    max-width:175px;
    flex-direction: column; 
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.04) 2px 2px 8px;
    border: 5px solid var(--color-light-grey);
    border-radius: 10px;
}

.items-list .item {
    width:30%;
}

.item-wt{
    color: var(--color-grey);
    font-size:12px;
}

.item-price{
    font-size: 12px;
    font-weight: var(--fw-700);
}

 .bottom{
    display: flex;
    justify-content: space-between;
    row-gap: 20px;
    align-items: center;
    margin-top:  20px ;
}

.bottom button{
    padding : 5px 10px;
    background-color: rgb(247, 255, 249);
    border-radius: 5px;
    width: 66px;
    border: 1px solid rgb(49, 134, 22);
    height: 31px;
    color: black;
    font-weight: 400;
    font-size: 13px;
}

.items-list .item-img  img{
    width:100%;
}

.item-name{
    min-height: 40px;
}

/* footer section */
footer{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    background-color: var(--color-light-grey);
    position : relative;
    top : 100px;
    font-weight: var(--fw-700);
    padding :20px 20px  50px 20px;
    margin: 30px;
    font-size: 20px;
}


/* Responsiveness */
@media only screen and (max-width: 768px){
    header {
        display: flex;
        height: 70px;
        padding: 20px 10px;  
    }

    .logo, .location, .Login{
        display: none;
    }

    .MyCart{
        margin-right:50px; 
        width:15%;
    }
    .search-bar{
        width:500px;
        margin:10px;
        border: 1px solid black;
        border-radius: 5px;
    }

    .inner-container{
        width: 100%;
   }

   .main-container{
    position:relative;
    top:10px;
   }

   .banner-1 img{
    padding: 0px 10px;
    width: 100%;
   }
    
   .banner-2 .banner-img img {
    padding: 0px;
    height: 144px;
    width: 160px;
    margin: 0px;
}

    .items-section3 {
        margin: 0px;
        grid-template-columns: repeat(4,25%);
    }

    .item{
    min-width: 150px;
    max-width: 150px;
    }

    footer{
        top: 50px;
        padding: 20px;
        font-size: 16px;
        font-weight: var(--fw-500);
    }
    
}

